* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy;
	user-select: none;
}

button {
	margin-top: 50px;
	width: 200px;
	height: 72px;
	font-size: 32px;

	border-radius: 24px;
	border-width: 0px;

	background-color: #333;
	color: #ccc;
	text-transform: uppercase;

	cursor: pointer;
}

.container {
	height: 90vh;

	display: grid;
	grid-template-columns: 1fr 300px 1fr;
	grid-template-rows: 20% 50% 30%;

	place-items: center;
}

#bet-form {
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: end;

	vertical-align: middle;
	font-size: 32px;

	position: relative;
}

#bet-form input {
	height: 32px;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
}

#bet-button {
	grid-row: 1/2;
	grid-column: 2/3;
	justify-self: end;

	margin-top: 0px;
	width: 150px;
	height: 48px;
	font-size: 24px;

}

#current-bet {
	grid-row: 1/2;
	grid-column: 3/4;
	font-size: 32px;
	justify-self: start;
}

#diff {
	-webkit-text-stroke: 1px #222;
}


.card {
	background-color: #ccc;
	width: calc(50vh * 2/3);
	height: 50vh;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.4);
	transform-style: preserve-3d;
	transform: rotateY(-180deg);
	transition: transform 1s ease-in, box-shadow 1s ease-in-out;
}

#first-card,
#second-card,
#third-card {
	color: #d22;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 128px;
	height: 128px;
	transform: translate(-50%, -50%);
}

.card .card-num {
	position: absolute;
	top: 70%;
	left: 50%;
	font-size: 64px;
	transform: translate(-50%, -50%);
}

.container .card:nth-of-type(1) {
	grid-row: 2/3;
	grid-column: 1/2;
}

.container .card:nth-of-type(2) {
	grid-row: 2/3;
	grid-column: 2/3;
}

.container .card:nth-of-type(3) {
	grid-row: 2/3;
	grid-column: 3/4;
}


#big {
	grid-row: 3/4;
	grid-column: 1/2;
	justify-self: end;
	margin-right: 50px;
}

#open {
	grid-row: 3/4;
	grid-column: 2/3;
	justify-self: center;
}

/* label[for="animation-trigger"]{
	grid-row: 3/4;
	grid-column: 2/3;
	justify-self: center;
	z-index: 1;
	
	margin-top:50px;
	width: 200px;
	height: 72px;
	border-radius:24px;
	border-width: 0px;
	
	cursor: pointer;
} */

#small {
	grid-row: 3/4;
	grid-column: 3/4;
	justify-self: start;
	margin-left: 50px;
}


.card:before {
	content: ' ';
	background-color: #ccc;
	width: calc(50vh * 2/3);
	height: 50vh;
	border-radius: 50px;
	transform: translateZ(-1px);

	transform-style: preserve-3d;
}

#animation-trigger:checked~.card {
	transform: rotateY(0deg);
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.4);
}